node-red/flows.json
[{"id":"551a7c00.5c0144","type":"tab","label":"Blind Control","disabled":false,"info":""},{"id":"962432c2.7b208","type":"tab","label":"Lighting","disabled":false,"info":""},{"id":"52339dc3.dc1054","type":"tab","label":"Presence","disabled":false,"info":"https://bonani.tech/making-home-assistants-presence-detection-not-so-binary-node-red-version/"},{"id":"7c14508529c4bb7e","type":"tab","label":"Events","disabled":false,"info":""},{"id":"28e328fee760f816","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"788d27fdc525ac62","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"45bba79c.df3d18","type":"server","name":"Home Assistant Westra","version":4,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"},{"id":"4eadc15e.1446e","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"3000","bin":"false","out":"interbyte","addchar":"","responsetimeout":"10000"},{"id":"99d27814.122e98","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"60e65d3a.d45524","type":"mqtt-broker","name":"Mosquitto","broker":"192.168.6.11","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b594adca.d794","type":"debug","z":"551a7c00.5c0144","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":320,"wires":[]},{"id":"e32f9a2e.7ad4f8","type":"inject","z":"551a7c00.5c0144","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"!123D003r?;","payloadType":"str","x":270,"y":220,"wires":[["0ace2d4fb0e9850d"]]},{"id":"aebc636d.c61cf","type":"inject","z":"551a7c00.5c0144","name":"Kitchen Blind Position","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"!123D003r?;","payloadType":"str","x":300,"y":500,"wires":[["3236b9d49d169da8"]]},{"id":"ad89e45.8eb7218","type":"function","z":"551a7c00.5c0144","name":"","func":"var output = msg.payload.split(/[!,D,r,b]/);\nvar bridge = parseInt(output[1]);\nvar motor = parseInt(output[2]);\nvar percentage = parseInt(output[3]);\nvar position = parseInt(output[4]);\nvar msg1 = msg;\nvar msg2 = {payload:bridge};\nvar msg3 = {payload:motor};\nvar msg4 = {payload:percentage};\nvar msg5 = {payload:position};\nreturn [msg1, msg2, msg3, msg4, msg5];","outputs":5,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":400,"wires":[["50beb016.03c7a"],["44e2bb98.5d33b4"],["1ef665b7.04ad3a"],["e14e1cb0.59e2c"],["da57719c.3c88d"]],"outputLabels":["output","bridge","motor","percentage","position"],"info":"https://www.javascripttutorial.net/javascript-string-split/"},{"id":"e14e1cb0.59e2c","type":"debug","z":"551a7c00.5c0144","name":"percentage","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":460,"wires":[]},{"id":"2adf8b64.265054","type":"inject","z":"551a7c00.5c0144","name":"other Position","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"!123D002r?;","payloadType":"str","x":270,"y":460,"wires":[["3236b9d49d169da8"]]},{"id":"1ef665b7.04ad3a","type":"debug","z":"551a7c00.5c0144","name":"motor","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":420,"wires":[]},{"id":"44e2bb98.5d33b4","type":"debug","z":"551a7c00.5c0144","name":"bridge","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":380,"wires":[]},{"id":"50beb016.03c7a","type":"debug","z":"551a7c00.5c0144","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":340,"wires":[]},{"id":"da57719c.3c88d","type":"debug","z":"551a7c00.5c0144","name":"Position","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":500,"wires":[]},{"id":"0ace2d4fb0e9850d","type":"serial request","z":"551a7c00.5c0144","name":"","serial":"4eadc15e.1446e","x":280,"y":260,"wires":[["b594adca.d794"]]},{"id":"3236b9d49d169da8","type":"serial request","z":"551a7c00.5c0144","name":"","serial":"4eadc15e.1446e","x":280,"y":400,"wires":[["ad89e45.8eb7218"]]},{"id":"38504699ce73fde8","type":"delay","z":"551a7c00.5c0144","name":"5s Delay Dining North West Blind","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":760,"y":700,"wires":[["0cb52ed95d13b414"]]},{"id":"6045eca735952b13","type":"delay","z":"551a7c00.5c0144","name":"10s Dining North Blind","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":720,"y":740,"wires":[["9d5b130214b0541a"]]},{"id":"e5d153fd51898ab6","type":"delay","z":"551a7c00.5c0144","name":"15s Delay Kitchen Blind","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":780,"wires":[["8cbb880b97cb9cb6"]]},{"id":"4d94e8a114131e56","type":"delay","z":"551a7c00.5c0144","name":"20s Lounge North East Blind","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":740,"y":820,"wires":[["5c9f3b4dd9040a12"]]},{"id":"7fb2b2c9ac337623","type":"delay","z":"551a7c00.5c0144","name":"25s Lounge South East Blind","pauseType":"delay","timeout":"25","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":740,"y":860,"wires":[["05e2ae4bea2c2be1"]]},{"id":"b8236a5f77536215","type":"serial request","z":"551a7c00.5c0144","name":"RS485 Blind Controller","serial":"4eadc15e.1446e","x":1980,"y":780,"wires":[[]]},{"id":"89bf8180a3c5bdad","type":"function","z":"551a7c00.5c0144","name":"Open or close to blinds","func":"if (msg.payload === \"on\") {\n    msg.payload = \"o\" ;\n } \nif (msg.payload === \"off\") {\n    msg.payload = \"c\" ;\n }\n// msg.payload = BlindState ;\n// Dining NW\nvar msg1 = { payload: \"!123D001\" + msg.payload + \";\" };\n// Dining N\nvar msg2 = { payload: \"!123D002\" + msg.payload + \";\" };\n// Kitchen\nvar msg3 = { payload: \"!123D003\" + msg.payload + \";\" };\n// Lounge NE\nvar msg4 = { payload: \"!123D004\" + msg.payload + \";\" };\n// Lounge SE\nvar msg5 = { payload: \"!123D005\" + msg.payload + \";\" };\n// Master Bedroom\nvar msg6 = { payload: \"!123D006\" + msg.payload + \";\" };\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];","outputs":6,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":760,"wires":[["38504699ce73fde8"],["6045eca735952b13"],["e5d153fd51898ab6"],["4d94e8a114131e56"],["7fb2b2c9ac337623"],["74eac1ba7adda6f3"]],"outputLabels":["Dining North West Blind","Dining North Blind","Kitchen Blind","Lounge North East Blind","Lounge South East Blind","Master Bedroom Blind"],"info":"https://nodered.org/docs/user-guide/writing-functions"},{"id":"74eac1ba7adda6f3","type":"delay","z":"551a7c00.5c0144","name":"30s Delay Master Bedroom Blind","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":760,"y":900,"wires":[["4b74b8aa8ab619b3"]]},{"id":"1aea9c778331cdbc","type":"inject","z":"551a7c00.5c0144","name":"open","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":190,"y":740,"wires":[["dc978c04fa33876d"]]},{"id":"c2258e696d83f1b6","type":"inject","z":"551a7c00.5c0144","name":"close","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":190,"y":780,"wires":[["dc978c04fa33876d"]]},{"id":"dc978c04fa33876d","type":"bigtimer","z":"551a7c00.5c0144","outtopic":"","outpayload1":"","outpayload2":"","name":"Sunrise to Sunset","comment":"","lat":"-41.167342","lon":"174.817054","starttime":"5003","endtime":"5004","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":"","xmonth7":"","xday8":"","xmonth8":"","xday9":"","xmonth9":"","xday10":"","xmonth10":"","xday11":"","xmonth11":"","xday12":"","xmonth12":"","xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":190,"y":860,"wires":[[],[],["e3c4077b93ecead5"]]},{"id":"e3c4077b93ecead5","type":"switch","z":"551a7c00.5c0144","name":"Only On or Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":980,"wires":[["89bf8180a3c5bdad"],["89bf8180a3c5bdad"]],"outputLabels":["on","off"]},{"id":"29e9a63f775fbe5b","type":"api-call-service","z":"551a7c00.5c0144","name":"flash Owl Lamp Red Warning","server":"45bba79c.df3d18","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.owl_lamp"],"data":"{\"rgb_color\":[255,0,0],\"flash\":\"long\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2000,"y":560,"wires":[[]]},{"id":"135eda9992506803","type":"api-current-state","z":"551a7c00.5c0144","name":"Is the kitchen window open","server":"45bba79c.df3d18","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.kitchen_window","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1420,"y":540,"wires":[["29e9a63f775fbe5b"],["b8236a5f77536215"]],"outputLabels":["Window Open","Window Closed"]},{"id":"8cbb880b97cb9cb6","type":"switch","z":"551a7c00.5c0144","name":"Bypass Window State on Open","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"[o].$","vt":"str","case":true},{"t":"regex","v":"[c].$","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":780,"wires":[["b8236a5f77536215"],["135eda9992506803"]],"outputLabels":["Open Command Issued","Closed Command Issued"]},{"id":"4b74b8aa8ab619b3","type":"switch","z":"551a7c00.5c0144","name":"Bypass Window State on Open","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"[o].$","vt":"str","case":true},{"t":"regex","v":"[c].$","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":900,"wires":[["b8236a5f77536215"],["2e949393ce828359"]],"outputLabels":["Open Command Issued","Closed Command Issued"]},{"id":"2e949393ce828359","type":"api-current-state","z":"551a7c00.5c0144","name":"Is the Master Bedroom window open","server":"45bba79c.df3d18","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.master_bedroom_window_state","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1450,"y":580,"wires":[["29e9a63f775fbe5b"],["b8236a5f77536215"]],"outputLabels":["Window Open","Window Closed"]},{"id":"05e2ae4bea2c2be1","type":"switch","z":"551a7c00.5c0144","name":"Bypass Window State on Open","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"[o].$","vt":"str","case":true},{"t":"regex","v":"[c].$","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":860,"wires":[["b8236a5f77536215"],["e7a89fa1de9a8208"]],"outputLabels":["Open Command Issued","Closed Command Issued"]},{"id":"5c9f3b4dd9040a12","type":"switch","z":"551a7c00.5c0144","name":"Bypass Window State on Open","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"[o].$","vt":"str","case":true},{"t":"regex","v":"[c].$","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":820,"wires":[["b8236a5f77536215"],["b8236a5f77536215"]],"outputLabels":["Open Command Issued","Closed Command Issued"]},{"id":"9d5b130214b0541a","type":"switch","z":"551a7c00.5c0144","name":"Bypass Window State on Open","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"[o].$","vt":"str","case":true},{"t":"regex","v":"[c].$","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":740,"wires":[["b8236a5f77536215"],["6aa17feb9c95e48d"]],"outputLabels":["Open Command Issued","Closed Command Issued"]},{"id":"0cb52ed95d13b414","type":"switch","z":"551a7c00.5c0144","name":"Bypass Window State on Open","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"[o].$","vt":"str","case":true},{"t":"regex","v":"[c].$","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":700,"wires":[["b8236a5f77536215"],["b8236a5f77536215"]],"outputLabels":["Open Command Issued","Closed Command Issued"]},{"id":"ee8936fd05115972","type":"server-state-changed","z":"551a7c00.5c0144","name":"On Holday","server":"45bba79c.df3d18","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.holiday","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":340,"y":1340,"wires":[["9338eec4c663e463"]]},{"id":"1fdbd34570f8500a","type":"debug","z":"551a7c00.5c0144","name":"HOME","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":1360,"wires":[]},{"id":"f6db220fb355cc93","type":"switch","z":"551a7c00.5c0144","name":"Bypass Window State on Open","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":1340,"wires":[["2ab377838578c15c"],["1fdbd34570f8500a"]],"outputLabels":["Open Command Issued","Closed Command Issued"]},{"id":"2ab377838578c15c","type":"debug","z":"551a7c00.5c0144","name":"HOLIDAY","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":1320,"wires":[]},{"id":"9338eec4c663e463","type":"rbe","z":"551a7c00.5c0144","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":485,"y":1340,"wires":[["f6db220fb355cc93"]],"l":false},{"id":"196f7be866737cfa","type":"api-call-service","z":"551a7c00.5c0144","name":"Holiday, Now Home","server":"45bba79c.df3d18","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.holiday"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":1420,"wires":[[]]},{"id":"f4f414da5dae47da","type":"inject","z":"551a7c00.5c0144","name":"open","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":330,"y":1420,"wires":[["196f7be866737cfa"]]},{"id":"709d5a28fe839dea","type":"api-current-state","z":"551a7c00.5c0144","name":"Front Porch illuminance","server":"45bba79c.df3d18","version":3,"outputs":2,"halt_if":"60","halt_if_type":"num","halt_if_compare":"gt","entity_id":"switch.hue_outdoor_motion_sensor_1_illuminance","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":1540,"wires":[["0789094fe6d9913d"],["0789094fe6d9913d"]]},{"id":"0789094fe6d9913d","type":"debug","z":"551a7c00.5c0144","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":1540,"wires":[]},{"id":"e7a89fa1de9a8208","type":"api-current-state","z":"551a7c00.5c0144","name":"On Holiday?","server":"45bba79c.df3d18","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.holiday","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1270,"y":940,"wires":[["b8236a5f77536215"],["44ba3b1a9ca37782"]],"outputLabels":["On Holiday","Not On Holiday"]},{"id":"44ba3b1a9ca37782","type":"api-current-state","z":"551a7c00.5c0144","name":"Somebody Home?","server":"45bba79c.df3d18","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.any_alarm_users_home","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1490,"y":940,"wires":[["56c8435d5698d9c1"],["b8236a5f77536215"]],"outputLabels":["Somebody Home","Nobody Home"]},{"id":"56c8435d5698d9c1","type":"ha-wait-until","z":"551a7c00.5c0144","name":"Wait to close the blind till 22:45","server":"45bba79c.df3d18","version":1,"outputs":1,"entityId":"sensor.time","entityIdFilterType":"exact","property":"state","comparator":"is","value":"22:45","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"data","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1730,"y":940,"wires":[["b8236a5f77536215"]]},{"id":"6aa17feb9c95e48d","type":"api-current-state","z":"551a7c00.5c0144","name":"Is the north left window open","server":"45bba79c.df3d18","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.north_window_left_state","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1420,"y":500,"wires":[["29e9a63f775fbe5b"],["1649a0d01f061536"]],"outputLabels":["Window Open","Window Closed"]},{"id":"1649a0d01f061536","type":"api-current-state","z":"551a7c00.5c0144","name":"Is the north right window open","server":"45bba79c.df3d18","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.north_window_right_state","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1690,"y":500,"wires":[["29e9a63f775fbe5b"],["b8236a5f77536215"]],"outputLabels":["Window Open","Window Closed"]},{"id":"c64dfb52.39e228","type":"bigtimer","z":"962432c2.7b208","outtopic":"","outpayload1":"","outpayload2":"","name":"Sunset to 12:15","comment":"","lat":"-41.167342","lon":"174.817054","starttime":"5004","endtime":"15","starttime2":0,"endtime2":0,"startoff":"-30","endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":"","xmonth7":"","xday8":"","xmonth8":"","xday9":"","xmonth9":"","xday10":"","xmonth10":"","xday11":"","xmonth11":"","xday12":"","xmonth12":"","xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":140,"y":260,"wires":[[],[],["1c6c4352.4b3e3d"]]},{"id":"1c6c4352.4b3e3d","type":"switch","z":"962432c2.7b208","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":260,"wires":[["5d0a3170.c22e1","a7163e6.a7a15c","caa8abe917e574cc"],["e0a83eb5.56b5d","2ec1e92e.d1d096","fe16612db460e767"]]},{"id":"5d0a3170.c22e1","type":"api-current-state","z":"962432c2.7b208","name":"Already On?","server":"45bba79c.df3d18","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.living_room_sofa_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":510,"y":160,"wires":[[],["15db69c86a911094"]]},{"id":"518b88de.2bca48","type":"inject","z":"962432c2.7b208","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":130,"y":200,"wires":[["c64dfb52.39e228"]]},{"id":"a7163e6.a7a15c","type":"api-current-state","z":"962432c2.7b208","name":"Already On?","server":"45bba79c.df3d18","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.dining","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":510,"y":220,"wires":[[],["0f2c1ed84cf2ecfd"]]},{"id":"d53795aa.5eae78","type":"inject","z":"962432c2.7b208","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":130,"y":160,"wires":[["c64dfb52.39e228"]]},{"id":"e85d9139.2621e","type":"server-state-changed","z":"962432c2.7b208","d":true,"name":"Garage Door","server":"45bba79c.df3d18","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.garage_roller_door_external_input","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":520,"wires":[["7460ba40.9b21c4"]]},{"id":"7460ba40.9b21c4","type":"switch","z":"962432c2.7b208","d":true,"name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":520,"wires":[["aaeb29e5.7c9d88"],["94b0ca24.f305e8"]]},{"id":"aaeb29e5.7c9d88","type":"api-call-service","z":"962432c2.7b208","d":true,"name":"Garage Lights On","server":"45bba79c.df3d18","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.garage_lights","light.philips_lwb006_38292c10_level_on_off"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":480,"wires":[[]]},{"id":"94b0ca24.f305e8","type":"api-call-service","z":"962432c2.7b208","d":true,"name":"Garage lights Off","server":"45bba79c.df3d18","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.garage_lights","light.philips_lwb006_38292c10_level_on_off"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":560,"wires":[[]]},{"id":"5682c8d2.5be568","type":"comment","z":"962432c2.7b208","name":"Dining Room & Living Room","info":"","x":140,"y":60,"wires":[]},{"id":"cfea403e.d6b29","type":"comment","z":"962432c2.7b208","name":"Garage","info":"","x":70,"y":400,"wires":[]},{"id":"e88dadbe.d4ebd","type":"comment","z":"962432c2.7b208","name":"Switch Garage lights on when the Roller Door is Open","info":"","x":220,"y":440,"wires":[]},{"id":"be0e4467.16c4c8","type":"api-call-service","z":"962432c2.7b208","name":"Set Color Temp","server":"45bba79c.df3d18","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.bathroom_lights"],"data":"{\"color_temp\":156,\"brightness\":255}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":400,"y":700,"wires":[[]]},{"id":"eac13d04.c2829","type":"trigger-state","z":"962432c2.7b208","d":true,"name":"Bathroom Lights On","server":"45bba79c.df3d18","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.bathroom_lights","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"unavailable"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":120,"y":700,"wires":[["be0e4467.16c4c8"],[]]},{"id":"82e5ec91.90f6c","type":"comment","z":"962432c2.7b208","name":"Bathroom","info":"","x":80,"y":620,"wires":[]},{"id":"d7fcbb51.dd49b8","type":"comment","z":"962432c2.7b208","name":"Ensure light temperature is consistant","info":"","x":170,"y":660,"wires":[]},{"id":"3f715468.44d3ec","type":"server-state-changed","z":"962432c2.7b208","d":true,"name":"North West Side Light","server":"45bba79c.df3d18","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.north_west_side_light","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":1220,"wires":[["d1046976.6ba6f8"]]},{"id":"9240f29f.8fcd8","type":"api-call-service","z":"962432c2.7b208","name":"Front Porch Lights On","server":"45bba79c.df3d18","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.front_porch"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":1200,"wires":[[]]},{"id":"d1046976.6ba6f8","type":"switch","z":"962432c2.7b208","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":1220,"wires":[["9240f29f.8fcd8"],["816d9366.0fa99"]]},{"id":"a3358158.e9971","type":"bigtimer","z":"962432c2.7b208","d":true,"outtopic":"","outpayload1":"","outpayload2":"","name":"Sunset to 00:15","comment":"","lat":"-41.167342","lon":"174.817054","starttime":"5004","endtime":"15","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":100,"y":2180,"wires":[[],[],["10ebec6a.37a374"]]},{"id":"e468ce51.34afd","type":"api-call-service","z":"962432c2.7b208","d":true,"name":"Front Porch Lights On","server":"45bba79c.df3d18","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.shelly_1pm_d8bfc01a0d2c_relay_0"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":2160,"wires":[[]]},{"id":"10ebec6a.37a374","type":"switch","z":"962432c2.7b208","d":true,"name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":2180,"wires":[["e468ce51.34afd"],["47d5b167.65fc8"]]},{"id":"47d5b167.65fc8","type":"api-call-service","z":"962432c2.7b208","d":true,"name":"Front Porch Lights Off","server":"45bba79c.df3d18","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.shelly_1pm_d8bfc01a0d2c_relay_0"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":2200,"wires":[[]]},{"id":"6fc9a402.84099c","type":"api-call-service","z":"962432c2.7b208","name":"Front Porch Lights Off","server":"45bba79c.df3d18","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.front_porch"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":1240,"wires":[[]]},{"id":"1cd2060a.3ee4ca","type":"time-range-switch","z":"962432c2.7b208","name":"","lat":"-41.167342","lon":"174.817054","startTime":"sunset","endTime":"00:00","startOffset":0,"endOffset":0,"x":480,"y":1320,"wires":[[],["6fc9a402.84099c"]]},{"id":"816d9366.0fa99","type":"stoptimer","z":"962432c2.7b208","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":480,"y":1260,"wires":[["1cd2060a.3ee4ca"],[]]},{"id":"e0a83eb5.56b5d","type":"api-call-service","z":"962432c2.7b208","name":"Owl Lamp Off","server":"45bba79c.df3d18","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.owl_lamp"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":360,"wires":[[]]},{"id":"60f1ea1c.2b54e4","type":"api-call-service","z":"962432c2.7b208","name":"Set Color Temp","server":"45bba79c.df3d18","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.toilet_lights"],"data":"{\"color_temp\":156,\"brightness\":255}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":380,"y":880,"wires":[[]]},{"id":"f10bb8fa.de1378","type":"trigger-state","z":"962432c2.7b208","d":true,"name":"Toilet Lights On","server":"45bba79c.df3d18","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.toilet_lights","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"unavailable"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":100,"y":880,"wires":[["60f1ea1c.2b54e4"],[]]},{"id":"76b1c9cf.20f608","type":"comment","z":"962432c2.7b208","name":"Toilet","info":"","x":70,"y":800,"wires":[]},{"id":"c4b3aa86.4e7d38","type":"comment","z":"962432c2.7b208","name":"Ensure light temperature is consistant","info":"","x":170,"y":840,"wires":[]},{"id":"5bdf3b5.8cc6ac4","type":"comment","z":"962432c2.7b208","name":"Front Porch","info":"","x":90,"y":940,"wires":[]},{"id":"1ddccb57.94cdc5","type":"comment","z":"962432c2.7b208","name":"Switch lights on at Sunset of at 12:15 & when ring lights on","info":"","x":230,"y":980,"wires":[]},{"id":"2ec1e92e.d1d096","type":"api-call-service","z":"962432c2.7b208","name":"Living Room Sofa lights Off","server":"45bba79c.df3d18","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.living_room_sofa_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":400,"wires":[[]]},{"id":"caa8abe917e574cc","type":"api-call-service","z":"962432c2.7b208","name":"Living Room Lights On","server":"45bba79c.df3d18","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.living_room_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":40,"wires":[[]]},{"id":"fb70c14046c0c80c","type":"switch","z":"962432c2.7b208","name":"Home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":300,"y":1080,"wires":[["5dcb20c5922495cf"],[]]},{"id":"c2db442db979284b","type":"trigger-state","z":"962432c2.7b208","name":"Person","server":"45bba79c.df3d18","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"^person\\..*$","entityidfiltertype":"regex","debugenabled":false,"constraints":[{"id":"ntik6826mzb","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is_not","comparatorValueDatatype":"prevEntity","comparatorValue":"state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":60,"y":1080,"wires":[["a56a0f6fdfaba8f6"],[]]},{"id":"a56a0f6fdfaba8f6","type":"change","z":"962432c2.7b208","name":"Change","rules":[{"t":"change","p":"topic","pt":"msg","from":"person.","fromt":"str","to":"","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload = \"home\" ? \"home\" : \"not_home\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":155,"y":1080,"wires":[["2460c94178bfb51a"]],"l":false},{"id":"2460c94178bfb51a","type":"rbe","z":"962432c2.7b208","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":205,"y":1080,"wires":[["fb70c14046c0c80c"]],"l":false},{"id":"5dcb20c5922495cf","type":"time-range-switch","z":"962432c2.7b208","name":"","lat":"-41.167342","lon":"174.817054","startTime":"dusk","endTime":"sunriseEnd","startOffset":"0","endOffset":0,"x":210,"y":1140,"wires":[["9240f29f.8fcd8","c32b3b4854bc3959"],[]]},{"id":"c32b3b4854bc3959","type":"stoptimer","z":"962432c2.7b208","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":480,"y":1120,"wires":[["6fc9a402.84099c"],[]]},{"id":"357bd4630e8daf8a","type":"trigger-state","z":"962432c2.7b208","name":"Motion Front Door","server":"45bba79c.df3d18","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.hue_outdoor_motion_sensor_1_motion","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":110,"y":1280,"wires":[["5dcb20c5922495cf"],[]]},{"id":"391b0b11bbbaaba0","type":"inject","z":"962432c2.7b208","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":670,"y":280,"wires":[["e0a83eb5.56b5d","2ec1e92e.d1d096","fe16612db460e767"]]},{"id":"5c7c5fa82f4dfc9a","type":"inject","z":"962432c2.7b208","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":650,"y":100,"wires":[["0f2c1ed84cf2ecfd","15db69c86a911094"]]},{"id":"0f2c1ed84cf2ecfd","type":"api-call-service","z":"962432c2.7b208","name":"Owl Lamp Tokyo","server":"45bba79c.df3d18","version":5,"debugenabled":false,"domain":"hue","service":"activate_scene","areaId":[],"deviceId":[],"entityId":["scene.dining_tokyo"],"data":"{\"dynamic\":true,\"transition\":30,\"brightness\":255}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":220,"wires":[[]],"info":"https://www.home-assistant.io/integrations/hue"},{"id":"15db69c86a911094","type":"api-call-service","z":"962432c2.7b208","name":"Living Room Sofa, Red","server":"45bba79c.df3d18","version":5,"debugenabled":false,"domain":"hue","service":"activate_scene","areaId":[],"deviceId":[],"entityId":["scene.living_room_sofa_lights_read"],"data":"{\"transition\":30,\"brightness\":205}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":160,"wires":[[]],"info":"https://www.home-assistant.io/integrations/hue"},{"id":"fe16612db460e767","type":"api-call-service","z":"962432c2.7b208","name":"Living Room Lights On","server":"45bba79c.df3d18","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.living_room_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":460,"wires":[[]]},{"id":"6839fe8.c5b16","type":"comment","z":"52339dc3.dc1054","name":"Presence","info":"https://bonani.tech/making-home-assistants-presence-detection-not-so-binary-node-red-version/","x":120,"y":380,"wires":[]},{"id":"8039bfa9.92f5e","type":"switch","z":"52339dc3.dc1054","name":"Home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":340,"y":460,"wires":[["31b1956e.e63b1a","5f1a6876.93a6f8","a05a9a66.2ee538","73b77b311902c8f9"],["2afd746d.4ff5bc","374f0790.e7c508"]]},{"id":"31b1956e.e63b1a","type":"api-current-state","z":"52339dc3.dc1054","name":"Status?","server":"45bba79c.df3d18","version":3,"outputs":2,"halt_if":"Just Left","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_select.{{topic}}","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":480,"y":400,"wires":[["3e8ca182.e5472e"],["79907fdd.91c2d"]]},{"id":"ce2ca2ff.7b754","type":"api-call-service","z":"52339dc3.dc1054","name":"Just Left","server":"45bba79c.df3d18","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Left\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":540,"wires":[["5f1a6876.93a6f8"]]},{"id":"3e8ca182.e5472e","type":"api-call-service","z":"52339dc3.dc1054","name":"Just Arrived","server":"45bba79c.df3d18","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Arrived\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":630,"y":360,"wires":[["374f0790.e7c508"]]},{"id":"a8441eb2.2087","type":"api-call-service","z":"52339dc3.dc1054","name":"Away","server":"45bba79c.df3d18","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Away\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":540,"wires":[["a05a9a66.2ee538"]]},{"id":"cda724b7.11fa68","type":"api-call-service","z":"52339dc3.dc1054","name":"Extended Away","server":"45bba79c.df3d18","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Extended Away\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1220,"y":480,"wires":[[]]},{"id":"5f1a6876.93a6f8","type":"trigger","z":"52339dc3.dc1054","name":"10min","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"home","bytopic":"topic","outputs":1,"x":770,"y":480,"wires":[["a8441eb2.2087"]]},{"id":"a05a9a66.2ee538","type":"trigger","z":"52339dc3.dc1054","name":"24hr","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"24","extend":false,"units":"hr","reset":"home","bytopic":"topic","outputs":1,"x":1070,"y":480,"wires":[["cda724b7.11fa68"]]},{"id":"374f0790.e7c508","type":"trigger","z":"52339dc3.dc1054","name":"10min","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"not_home","bytopic":"topic","outputs":1,"x":770,"y":420,"wires":[["79907fdd.91c2d"]]},{"id":"79907fdd.91c2d","type":"api-call-service","z":"52339dc3.dc1054","name":"Home","server":"45bba79c.df3d18","version":5,"debugenabled":false,"domain":"input_select","service":"select_option","areaId":[],"deviceId":[],"entityId":[],"data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Home\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":400,"wires":[[]]},{"id":"65507c57.b8f654","type":"trigger-state","z":"52339dc3.dc1054","name":"Person","server":"45bba79c.df3d18","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"^person\\..*$","entityidfiltertype":"regex","debugenabled":false,"constraints":[{"id":"ntik6826mzb","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is_not","comparatorValueDatatype":"prevEntity","comparatorValue":"state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":100,"y":460,"wires":[["6931a24d.cfe9ac"],[]]},{"id":"2afd746d.4ff5bc","type":"api-current-state","z":"52339dc3.dc1054","name":"Status?","server":"45bba79c.df3d18","version":3,"outputs":2,"halt_if":"Just Left,Away, Extended Away","halt_if_type":"str","halt_if_compare":"does_not_include","entity_id":"input_select.{{topic}}","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":0,"forType":"num","forUnits":"minutes","x":480,"y":500,"wires":[["ce2ca2ff.7b754"],[]]},{"id":"6931a24d.cfe9ac","type":"change","z":"52339dc3.dc1054","name":"Change","rules":[{"t":"change","p":"topic","pt":"msg","from":"person.","fromt":"str","to":"","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload = \"home\" ? \"home\" : \"not_home\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":195,"y":460,"wires":[["3d8c80fd.4361c"]],"l":false},{"id":"3d8c80fd.4361c","type":"rbe","z":"52339dc3.dc1054","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":245,"y":460,"wires":[["8039bfa9.92f5e"]],"l":false},{"id":"73b77b311902c8f9","type":"api-call-service","z":"52339dc3.dc1054","name":"Holiday, Somebody Now Home","server":"45bba79c.df3d18","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.holiday"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":280,"wires":[[]]},{"id":"faefa8f261f46867","type":"api-current-state","z":"52339dc3.dc1054","name":"Every one away for 1 Day?","server":"45bba79c.df3d18","version":3,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.all_alarm_users_home","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"24","forType":"num","forUnits":"hours","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":180,"y":140,"wires":[[],["d3173e7e305c8602"]],"outputLabels":["home","not_home"]},{"id":"d3173e7e305c8602","type":"api-call-service","z":"52339dc3.dc1054","name":"Holiday, Somebody Now Home","server":"45bba79c.df3d18","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.holiday"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":530,"y":140,"wires":[[]]},{"id":"a6262488e2b64509","type":"comment","z":"7c14508529c4bb7e","name":"Bedroom Lights","info":"","x":720,"y":40,"wires":[]},{"id":"349334a105a342b6","type":"server-events","z":"7c14508529c4bb7e","name":"","server":"45bba79c.df3d18","version":1,"event_type":"shelly.click","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":110,"y":100,"wires":[["663931cc5cf8289a"]]},{"id":"f5d919ef4a0b5df6","type":"switch","z":"7c14508529c4bb7e","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"long","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"triple","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":510,"y":100,"wires":[["4774b61366dfb758"],["11f3f817da864142"],["005d5542a499fac5"],["a515e94c03835789"]]},{"id":"663931cc5cf8289a","type":"switch","z":"7c14508529c4bb7e","name":"","property":"payload.event.device","propertyType":"msg","rules":[{"t":"eq","v":"shellybutton1-98CDAC2DAAF4","vt":"str"},{"t":"eq","v":"shellybutton1-98CDAC2C1FA0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":100,"wires":[["f5d919ef4a0b5df6"],["46ff30ad471fd643"]],"inputLabels":["shelly.click"],"outputLabels":["Bed Side Light Right Button","Garage Door Remote Opener Button"]},{"id":"4774b61366dfb758","type":"api-call-service","z":"7c14508529c4bb7e","name":"Bed Side light right On","server":"45bba79c.df3d18","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.hue_filament_bulb_1"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":80,"wires":[[]]},{"id":"11f3f817da864142","type":"api-call-service","z":"7c14508529c4bb7e","name":"Bed Side light right Off","server":"45bba79c.df3d18","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.hue_filament_bulb_1"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":820,"y":140,"wires":[[]]},{"id":"a6496271b3eddf74","type":"serial request","z":"7c14508529c4bb7e","name":"","serial":"4eadc15e.1446e","x":800,"y":200,"wires":[[]]},{"id":"005d5542a499fac5","type":"change","z":"7c14508529c4bb7e","name":"Close Master Bedroom Blind","rules":[{"t":"set","p":"payload","pt":"msg","to":"!123D006c;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":180,"wires":[["a6496271b3eddf74"]]},{"id":"a515e94c03835789","type":"change","z":"7c14508529c4bb7e","name":"Open Master Bedroom Blind","rules":[{"t":"set","p":"payload","pt":"msg","to":"!123D006o;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":240,"wires":[["a6496271b3eddf74"]]},{"id":"46ff30ad471fd643","type":"switch","z":"7c14508529c4bb7e","name":"Click Type","property":"payload.event.click_type","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"long","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"triple","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":510,"y":300,"wires":[["2ef51179fb6ef40f"],[],[],[]]},{"id":"2ef51179fb6ef40f","type":"api-call-service","z":"7c14508529c4bb7e","name":"Garage Roller Door Switch","server":"45bba79c.df3d18","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.garage_roller_door"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":280,"wires":[[]]},{"id":"e763820b.d835a","type":"server-state-changed","z":"28e328fee760f816","name":"Anybody home?","server":"45bba79c.df3d18","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":["device_tracker.jan_iphone","device_tracker.matt_s_iphone","device_tracker.bob_iphone"],"entityidfiltertype":"list","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":140,"wires":[[],["86232ce0.2f2e5"]]},{"id":"86232ce0.2f2e5","type":"ha-get-entities","z":"28e328fee760f816","name":"not_home?","server":"45bba79c.df3d18","version":0,"rules":[{"property":"entity_id","logic":"includes","value":"device_tracker.jan_iphone, device_tracker.matt_s_iphone, device_tracker.bob_iphone","valueType":"str"},{"property":"state","logic":"is","value":"not_home","valueType":"str"}],"output_type":"count","output_empty_results":false,"output_location_type":"msg","output_location":"_count","output_results_count":1,"x":310,"y":180,"wires":[["3128e5e6.d7494a"]]},{"id":"3128e5e6.d7494a","type":"switch","z":"28e328fee760f816","name":"all 3?","property":"_count","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":180,"wires":[["1fc2c86f.984fe8"]]},{"id":"1fc2c86f.984fe8","type":"api-call-service","z":"28e328fee760f816","name":"Guest Off","server":"45bba79c.df3d18","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.guests"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":180,"wires":[[]]},{"id":"7ddf9ea.ce1666","type":"trigger","z":"788d27fdc525ac62","name":"","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"5","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":220,"y":200,"wires":[["a10c8787.6bcde8"]]},{"id":"4f9f0445.d36d2c","type":"inject","z":"788d27fdc525ac62","name":"motion","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":70,"y":200,"wires":[["7ddf9ea.ce1666"]]},{"id":"a10c8787.6bcde8","type":"switch","z":"788d27fdc525ac62","name":"payload == 1 or 0","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":200,"wires":[["d0e34d98.f2042","9cd45d14.c50fc"],["4666b91c.95c868","9cd45d14.c50fc"]]},{"id":"d0e34d98.f2042","type":"debug","z":"788d27fdc525ac62","name":"Switch on","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":140,"wires":[]},{"id":"4666b91c.95c868","type":"debug","z":"788d27fdc525ac62","name":"Switch off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":260,"wires":[]},{"id":"9cd45d14.c50fc","type":"debug","z":"788d27fdc525ac62","name":"The Lamp","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":680,"y":200,"wires":[]},{"id":"f02c4b6f.26ade8","type":"server-state-changed","z":"788d27fdc525ac62","name":"Gaming?","server":"45bba79c.df3d18","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.gaming","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is_not","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":400,"wires":[["89607b14.7a5528"]]},{"id":"f34deb25.bfa818","type":"server-state-changed","z":"788d27fdc525ac62","name":"Remotes?","server":"45bba79c.df3d18","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"remote.living_room","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is_not","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":460,"wires":[["74e82fb.bf116d"]]},{"id":"89607b14.7a5528","type":"function","z":"788d27fdc525ac62","name":"on/off?","func":"newmsg = {};\nif (msg.payload == \"off\")\n{\n    newmsg.payload = \"True\";\n}else {\n    newmsg.payload = \"STOP\";\n    flow.set(\"gaming\", 0);\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":240,"y":400,"wires":[["8c544384.d436c"]]},{"id":"74e82fb.bf116d","type":"function","z":"788d27fdc525ac62","name":"on/off?","func":"newmsg = {};\nif (msg.payload == \"off\")\n{\n    newmsg.payload = \"True\";\n}else {\n    newmsg.payload = \"STOP\";\n    flow.set(\"remote\", 0);\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":220,"y":460,"wires":[["500830ed.c3b61"]]},{"id":"2668ac5c.bf6e14","type":"server-state-changed","z":"788d27fdc525ac62","name":"Motion?","server":"45bba79c.df3d18","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.motion","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is_not","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":70,"y":340,"wires":[["dbdfdf7e.f482e"]]},{"id":"dbdfdf7e.f482e","type":"function","z":"788d27fdc525ac62","name":"on/off?","func":"newmsg = {};\nif (msg.payload == \"off\")\n{\n    newmsg.payload = \"True\";\n}else {\n    newmsg.payload = \"STOP\";\n    flow.set(\"motion\", 0);\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"x":220,"y":340,"wires":[["e4b19e32.28765"]]},{"id":"e4b19e32.28765","type":"stoptimer","z":"788d27fdc525ac62","duration":"30","units":"Minute","payloadtype":"num","payloadval":"1","name":"","x":400,"y":340,"wires":[[],["aad5bf2b.ccee1"]]},{"id":"aad5bf2b.ccee1","type":"change","z":"788d27fdc525ac62","name":"","rules":[{"t":"set","p":"motion","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":340,"wires":[["b9f88146.50729"]]},{"id":"8c544384.d436c","type":"stoptimer","z":"788d27fdc525ac62","duration":"30","units":"Minute","payloadtype":"num","payloadval":"1","name":"","x":400,"y":400,"wires":[[],["46e5d536.2caaec"]]},{"id":"500830ed.c3b61","type":"stoptimer","z":"788d27fdc525ac62","duration":"30","units":"Minute","payloadtype":"num","payloadval":"1","name":"","x":400,"y":460,"wires":[[],["5c186c96.8eebe4"]]},{"id":"46e5d536.2caaec","type":"change","z":"788d27fdc525ac62","name":"","rules":[{"t":"set","p":"gaming","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":400,"wires":[["b9f88146.50729"]]},{"id":"5c186c96.8eebe4","type":"change","z":"788d27fdc525ac62","name":"","rules":[{"t":"set","p":"remote","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":460,"wires":[["b9f88146.50729"]]},{"id":"b9f88146.50729","type":"function","z":"788d27fdc525ac62","name":"All 3?","func":"var remote = flow.get('remote');\nvar motion = flow.get('motion');\nvar home = flow.get('home');\nvar gaming = flow.get('gaming');\nif (remote + motion + gaming == 3){\n    msg.payload = \"True\";\n} else {\n    msg.payload = \"False\";\n}\n\nmsg.motion = motion\nmsg.gaming = gaming\nmsg.remote = remote\nmsg.add = remote + motion + gaming\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":400,"wires":[["1fb4bbf5.889534"]]},{"id":"1fb4bbf5.889534","type":"switch","z":"788d27fdc525ac62","name":"True?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":400,"wires":[[]]}]